.leaderboard {
  width: 100%;
  border-radius: 12px;
}

.leaderboard__profiles {
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
}

.droppable-container {
  width: 100%;
}
.drag-drop-container {
  width: 100%;
  height: 90%;
  padding-bottom: 8px;
  overflow-y: auto;
}
.option-input-checkbox{
  position: initial;
}