.module-licenses-container {
  width: 1200px;
  height: 650px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 95px 30px 95px;
  margin-top: 50px;
  margin-left: 170px;
  justify-content: center;
}
.modules-container {
  width: 100%;
  height: 500px;
  display: flex;
  background: var(--bg);
  font-family: var(--font);
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
}
.select2-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.licenses-style {
  grid-column-start: 2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.save-button {
  margin-left: auto;
}

.create-module-into-license {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 6px;
}


.manage-question-button{
  width: fit-content;
}